<section class="container">
    <div>
        <h1>
            <span>Great to hear from you!</span> 
            <span class="contrast"> {{formConfig.fullName}}</span>

            <br>
            <span>Would You Like To Sign Up For My News Letter?</span>
        </h1>
        <form>
            <div class="form-group">
                <input (keyup.enter)="submit()" [(ngModel)]="formConfig.email" type="email" name="email" placeholder="@" autofocus>
                <button (click)="submit()" type="button" [style.backgroundColor]="themeColor">
                    <span>Sign Up</span>
                </button>
            </div>
        </form>
        
        <a href="https://github.com/DustiasTheGuy">Check Me Out On Github</a>
    </div>
</section>