<section class="container">
    <section>
        <h2>Who Am I?</h2>
        <p>I am an independent software developer who primarily focuses on developing modern web applications. I am constantly learning and improving my skill set in order to deliver excellent and reliable software solutions for my clients.</p>
    </section>

    <section>
        <h2>My Values And Beliefs</h2>
        <p>I believe that every client can teach me something new that will help me deliver better, more performant and more reliable software. The client’s needs should be at the center of every project and if the client who I am working for isn’t happy then I am not finished working. I believe technology should be used as a tool to solve problems and make life easier.</p>
        <div class="list">
            <span>Honesty</span>
            <span>Trust</span>
            <span>Accountability</span>
            <span>Commitment to Customers</span>
            <span>Quality</span>
        </div>
    </section>

    <a routerLink="/contact">I have a question</a>
</section>
