section {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    background: #2b5876;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#a0a0a0), to(#094974));
    background: -o-linear-gradient(left, #a0a0a0, #094974);
    background: linear-gradient(to right, #a0a0a0, #094974); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);


    .content-container {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        z-index: 5;

        .content {
            z-index: 2;
            width: 65%;
            padding: 0 1em;

            button {
                border: none;
                padding: 1em;
                width: 225px;
                position: relative;
                height: 50px;
                background-color: rgb(32, 93, 206);
                text-transform: uppercase;
                font-size: 18px;
                letter-spacing: 1.2px;
                display: block;
                span {
                    color: #fff;
                }
            }

            h1, p {
                color: #fff;
                margin: 0 auto;
                display: block;
                text-align: left;
            }

            h1 {
                font-size: 62px;
            }

            p {
                margin: 25px 0;
                font-size: 21px;
                width: 50%;
            }
        }
    }
}



@media only screen and (max-width: 1700px) and (min-width: 1300px) {
    // 75%
    section {
        .content-container {
            .content {
                width: 75%;

                p {
                    width: 74%;
                }
            }
        }
    }
}

@media only screen and (max-width: 1300px) and (min-width: 999px) {
    // 83%
    section {
        .content-container {
            .content {
                width: 83%;
                h1 {
                    font-size: 38px;
                }

                p {
                    width: 81%;
                }
            }
        }
    }
}
  
@media only screen and (max-width: 999px) and (min-width: 780px) {
    // 89%
    section {
        .content-container {
            .content {
                width: 89%;
                h1 {
                    font-size: 28px;
                }

                p {
                    width: 94%;
                }
            }
        }
    }
}
  
@media only screen and (max-width: 780px) {
    // 100%
    section {
        .content-container {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            .content {
                width: 100%;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;

                h1 {
                    font-size: 42px;
                }

                p {
                    font-size: 20px;
                }
                
                h1, p {
                    text-align: center;
                    width: 100%;
                }

                button {
                    margin: 0 auto;
                }
            }
        }
    }
}