<section [ngStyle]="setupTheme()" [style.--themecolor]="fillColor"> 
    <div 
    *ngIf="pageHeaderState.image"
    class="bg-img"
    [ngStyle]="{ 'background-image': 'url(' + pageHeaderState.image.src + ')' }">
    </div>

    <div class="container">
        <h1 [style.color]="getThemeColor()">
            <span 
            *ngFor="let part of titleParts; let i = index" 
            [innerHTML]="part" 
            [style.animationDelay]="i * 50 + 'ms'">
            </span>
        </h1>
        <p *ngIf="pageHeaderState.subtitle" [style.color]="getThemeColor()">{{ pageHeaderState.subtitle }}</p>
        <a class="slide slide-both" *ngIf="pageHeaderState.button && pageHeaderState.button.show" [routerLink]="pageHeaderState.button.href" [style.color]="fillColor">
            <span>{{ pageHeaderState.button.text }}</span>
        </a>
    </div>
</section>

<div class="color-picker">
    <span id="toggle" (click)="colorPickerOpen = !colorPickerOpen ? true : false" [ngStyle]="{ 'border-color': fillColor }">
        <i class="fas fa-fill" [style.color]="fillColor"></i>

        <div class="colors-available" *ngIf="colorPickerOpen">
            <span 
            *ngFor="let color of colors" 
            class="color" 
            [ngStyle]="{ 'background-color': color, 'display': fillColor != color ? 'block' : 'none' }" 
            (click)="emitColor(color)"></span>
        </div>
    </span>
</div>