.color-picker {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 7;
    span#toggle {
        background-color: rgb(255, 255, 255);    
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(255, 255, 255);
        margin: 50px 50px 0 0;
        border-radius: 50%;
        cursor: pointer;
        transition: all 200ms linear;
        border: 1px solid;
        position: relative;

        .colors-available {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 100%;
            margin: 10px 0 0 0;

            .color {
                width: 20px;
                height: 20px;
                border-radius: 50%;

                &:not(:last-of-type) {
                    margin-bottom: 5px;
                }
            }
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}

section.isSmall {
    height: 40vh;
    background-image: none !important;
}

section {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
            box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
    background-size: cover;
    
    svg {
        position: absolute;
        top: 0;
        left: 0;
        height: inherit;
        fill: inherit;

        g {
            fill: inherit;

            #svg_bg {
                fill: inherit;
            }

            // #Ellipse_1, #Rectangle_1, #Polygon_1 {
            //     fill: inherit;
            //     filter: invert(84%);
            // }
        }
    }

    .content-container {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        z-index: 5;

        #page-header-content { // visible on pages except for home page
            h1 {
                text-transform: capitalize;
            }
        }
        
        .content {
            z-index: 2;
            width: 65%;
            padding: 0 1em;

            button {
                border: none;
                padding: 1em;
                width: 225px;
                position: relative;
                height: 50px;
                background-color: rgb(255, 255, 255);
                text-transform: uppercase;
                font-size: 18px;
                letter-spacing: 1.2px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                
                span {
                    color: rgb(13, 75, 146);
                }
            }

            h1, p {
                color: #fff;
                margin: 0 auto;
                display: block;
                text-align: left;
            }

            h1 {
                font-size: 62px;
            }

            p {
                margin: 25px 0;
                font-size: 21px;
                width: 50%;
            }
        }
    }
}


@media only screen and (max-width: 1700px) and (min-width: 1450px) {
    // 75%
    section {
        .content-container {
            .content {
                width: 75%;

                p {
                    width: 74%;
                }
            }
        }
    }
}

@media only screen and (max-width: 1300px) and (min-width: 999px) {
    // 83%
    section {
        .content-container {
            .content {
                width: 83%;
                h1 {
                    font-size: 38px;
                }

                p {
                    width: 81%;
                }
            }
        }
    }
}

@media only screen and (max-width: 999px) and (min-width: 780px) {
    // 89%
    section {
        .content-container {
            .content {
                width: 89%;
                h1 {
                    font-size: 28px;
                }

                p {
                    width: 94%;
                }
            }
        }
    }
}
  
@media only screen and (max-width: 780px) {
    // 100%
    section {
        .content-container {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;

            #page-header-content {
                margin-left: 0;

                h1 {
                    text-align: center;
                }
            }

            .content {
                width: 90%;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                margin-left: 60px;

                h1 {
                    font-size: 35px;
                    width: 100%;
                }

                p {
                    font-size: 16px;
                    width: 80%;
                }
        
                button {
                    margin: 20px 0;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    span {
                        display: block;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    section {
        background-image: none;

        .content-container {
            .content {
                margin-left: 26px;

                button {
                    margin: 20px 0;
                    height: 42px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;

                    span {
                        display: block;
                    }
                }
            }
       }    
    }
}