<section [ngClass]="{ 'isSmall': pageHeaderState }" id="page-header" (click)="this.playing = this.playing === true ? false : true">
    <!-- <img *ngFor="let img of bgImages" [src]="img.url" [ngClass]="{ 'active': img.active }" alt="Large Image"> -->

    <div class="content-container" *ngIf="!pageHeaderState">
        <div class="content">
            <h1>Reliable Software Development</h1>
            <p>
                According to the SBA, 
                only 64% of small businesses have a website. 
                Are you one of those? Then you should hire me!
            </p>
            <button class="slide slide-both" routerLink="/services">
                <span>Hire Me!</span>
            </button>
        </div>
    </div>

    <div class="content-container" *ngIf="pageHeaderState">
        <div class="content" id="page-header-content" [style.width]="contentWidth">
            <h1>{{ pageTitle }}</h1>
        </div>
    </div>
</section>
