<footer>
    <div class="content">
        <div class="first-row">
            <div class="lists-container">
                <div class="list">
                    <h3>Navigation</h3>
                    <div>
                        <a routerLink="/">Home</a>
                        <a routerLink="/services">Services</a>
                        <a routerLink="/projects">Projects</a>
                    </div>
                </div>
                <div class="list">
                    <h3>More Links</h3>
                    <div>
                        <a routerLink="/about">About</a>
                        <a routerLink="/contact">Contact</a>
                        <a routerLink="/news-letter">News Letter</a>
                        <a routerLink="/privacy">Privacy Policy</a>
                    </div>
                </div>

                <div class="list">
                    <h3>Related Sites</h3>
                    <div>
                        <a href="https://softsuit.store">Softsuit</a>
                        <a href="https://paste.isakgranqvist.com">Isak Tech Paste</a>
                        <a href="https://portal.isakgranqvist.com">Portal</a>
                        <a routerLink="/news-letter">Email List</a>
                    </div>
                </div>

            </div>

        <img src="/assets/logos/logo2.0.svg">

        </div>
        
        <span class="hr"></span>

        <div class="second-row">
            <div>
                <p>isakgranqvist <i class="far fa-copyright"></i> All Rights Reserved 2021</p>
                <span class="seperator">-</span>
                <p>contact@isak-tech.tk</p> 
            </div>
            <div class="social-icons">
                <a href="https://www.instagram.com/isakdev2021/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/IsakDev-129898532256800"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/isakdev1"><i class="fab fa-twitter"></i></a>
                <a href="https://github.com/DustiasTheGuy"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
</footer>

