footer {
    background-color: #fff;
    border-top: 1px solid lightgray;
    
    .content {
        margin: 0 auto;
        width: 65%;
        padding: 0 1em;

        .first-row,
        .second-row {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }

        .first-row {
            -webkit-box-align: end;
                -ms-flex-align: end;
                    align-items: flex-end;
            padding: 1em 0;

            svg {
                #svg_text {
                    fill: #333;
                }
    
                #svg_circle, #svg_checkmark {
                    fill: #205dce;
                }
    
                #svg_computer, #svg_line {
                    fill: #333;
                }
            }

            .lists-container {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;


                .list {    

                    &:not(:last-of-type) {
                        margin-right: 4em;
                    }

                    &:last-of-type {
                        margin-right:auto
                    }

                    h3 {
                        display: block;
                        margin: 0 0 10px 0;
                        text-transform: uppercase;
                        color: rgb(0, 0, 0);
                        letter-spacing: 1.5px;
                        font-size: 18.72px;
                        font-weight: 800;
                    }
            
                    a {
                        display: block;
                        color: rgb(66, 66, 66);
                        text-decoration: none;
                        margin: 8px 0;
                        font-size: 15px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            img {
                width: 128px;
                height: 128px;
                -o-object-fit: contain;
                   object-fit: contain;
            }
        }

        .hr {
            border-bottom: 1px solid rgb(216, 216, 216);
            margin: 10px 0;
            display: block;
        }

        .second-row {
            padding: 5px 0 2em 0;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;

            p {
                margin: 0;
                display: inline-block;
                color: rgb(75, 75, 75);
                font-size: 14px;
                letter-spacing: 1.3px;

                .far.fa-copyright {
                    margin: 0 4px;
                }
            }

            .seperator {
                margin: 0 25px;
                color: rgb(75, 75, 75);
            }

            .social-icons {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;

                a {
                    display: inline-block;

                    &:not(:last-of-type) {
                        margin-right: 10px;
                    }
                }

                i {
                    color: rgb(75, 75, 75);
                }
            }
        }
    }
}

@media only screen and (max-width: 1700px) and (min-width: 1300px) {
    // 75%
    footer {
        .content {
            width: 75%;
        }
    }
}


@media only screen and (max-width: 1300px) and (min-width: 999px) {
    // 83%
    footer {
        .content {
            width: 83%;

            .first-row {
                .lists-container {
                    .list {
                        margin-top: 20px !important;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 999px) and (min-width: 780px) {
    // 89%
    footer {
        .content {
            width: 89%;
            padding: 2em 0;
            .first-row,
            .second-row {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-align: start;
                    -ms-flex-align: start;
                        align-items: flex-start;
            }

            .first-row {
                svg {
                    display: block;
                    margin: 0 auto;
                }
            }

            .second-row {
                p {
                    display: block;
                    margin: 15px 0;
                }
                
                .seperator {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 780px) {
    // 100%
    footer {
        .content {
            width: 100%;
            padding: 1em;

            
            .lists-container {
                width: 100%;
                padding: 2em;
                .list {
                    width: 100%;
                    margin: 10px 0 !important;

                    div {
                        width: 100%;
                    }

                    &:last-of-type {
                        margin-right: unset !important;
                    }
                }
            }

            .first-row {
                display: flex;
                flex-direction: column;

                svg {
                    margin: 0 auto 0 1em;
                }
            }

            .second-row {
                padding-bottom: 1em;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                
                p {
                    display: block;
                    margin: 30px 0;
                }
                
                .seperator {
                    display: none;
                }
            }
        }
    }
}