footer {
    border-top: 1px solid rgb(207, 207, 207);

    section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        fill: var(--fill-color);

        #svg_text, #svg_checkmark {
            filter: invert(33%);
        }
        
        &:nth-child(1) {
            padding: 7rem 0;
        }

        &:nth-child(2) {
            border-top: 1px solid rgb(209, 209, 209);
            padding: 1rem 0;
        }

        .list {
            a {
                display: block;
                text-decoration: none;

                &:not(:last-of-type) {
                    margin-bottom: .62rem;
                }
            }
        }

        .social-icons {

            a {
                display: inline-block;
                width: 24px;
                height: 24px;

                &:not(:last-of-type) {
                    margin-right: .62rem;
                }

                img {
                    width: inherit;
                    height: inherit;
                }
            }
        }
    }
}


@media only screen and(max-width: 1600px) {
    footer {
        section {
            &:nth-child(1) {
                flex-direction: column-reverse;
                align-items: flex-start;
                padding: 4rem 1rem;

                .list {
                    margin: 1.2rem 0;
                    width: 100%;
                    text-align: center;
                }

                svg {
                    margin: 0 auto 1.2rem auto;
                    max-width: 80%;
                }
            }
        }
    }
}

