@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
    
    nav {
        margin-top: 1rem;
        padding: 1rem 0;
        display: flex;
        flex-wrap: wrap;

        a {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            cursor: pointer;
            color: #3737e9;
            margin-bottom: 1rem;

            &:not(:last-of-type) {
                &::after {
                    content: '-';
                    margin: 0 1rem;
                }
            }
        }
    }

    .document {
        margin: 0 0 0 auto;

        section {
            max-width: 100%;
            overflow: hidden;
            white-space: pre-wrap;
            padding: 2rem;
            transition: all 300ms linear;
            border: 1px solid rgb(197, 197, 197);
            margin: 1rem 0;

            &:first-of-type {
                margin-top: 0;
            }

            h1, h2, p, li {
                font-family: 'Roboto', sans-serif !important;
            }
        }  
    } 
}
