.container {
    .content {
        margin-bottom: 2em;

        .section.animate {
            opacity: 1;
        }

        .section.zoom-in.animate {
            transform: scale(1);
        }

        .section.zoom-in {
            transform: scale(.7);
        }

        .section.fade-right.animate {
            margin-left: 0;
        }

        .section.fade-right {
            margin-left: -1000px;
        }

        .section.flip-in {
            transform: rotateX(-90deg);
        }

        .section.flip-in.animate {
            transform: rotateX(0);
        }

        .section {
            background-color: #fff;
            display: block;
            margin: 60px 0;
            box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
            transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
            opacity: 0;
            .images-container {
                display: flex;
                flex-wrap: wrap;
                img {
                    max-height: 320px;
                    max-width: 100%;
                    flex-grow: 1;
                }
            }

            .text-container {
                padding: 3em;

                h3 {
                    font-size: 32px;
                    margin: 0;
                }

                p {
                    margin: 1rem 0;
                }

                ul {
                    list-style: disc;
                    padding: 1rem;
                    margin: 1rem;

                    li {
                       &:not(:first-of-type) {
                           margin-top: 20px;
                       }
                    }
                }

                a {
                    display: inline-block;
                    color: rgb(131, 131, 131);
                    border: 1px solid rgb(8, 77, 141);
                    padding: 10px 20px;
                    text-decoration: none;
                    margin-top: 20px;
                    position: relative;
                    white-space: nowrap;
                    min-width: 180px;
                    transition: all 400ms ease;
                    border-radius: 4px;

                    .vis-hid {
                        visibility: hidden;
                        color: inherit;
                    }

                    .vis-vis {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 5;
                        color: inherit;
                        transition: inherit;
                        transition-timing-function: linear;
                    }

                    &::before, &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        width: 0;
                        height: 100%;
                        background-color: rgba(8, 77, 141, 0.747);
                        transition: inherit;
                    }

                    &::before {
                        left: 0;
                        border-bottom-left-radius: 4px;
                        border-top-left-radius: 4px;
                    }

                    &::after {
                        right: 0;
                        border-bottom-right-radius: 4px;
                        border-top-right-radius: 4px;
                    }

                    &:hover {
                        color: #fff !important;
                        border-color: transparent;
                        transform: scale(.94);
                        &::before, &::after {
                            width: 50%;
                        }
                    }

                    &:not(:last-of-type) {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}


@media only screen and(max-width: 768px) {
    .container {
        .content {
            .section {
                box-shadow: none;

                .text-container {
                    padding: 2em;

                    ul {
                        margin: 30px 0 60px 0;
                        padding: 0;
                        list-style: none;
                    }

                    h3 {
                        font-style: 26px;
                    }

                    a {
                        display: block;
                        margin: 14px 0;
                        text-align: center;
                        &:not(:last-of-type) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}