<div class="container">
    <div class="content">
        
        <section class="bg-second invert align">
            <h3>Missed Opportunities</h3>
            <p>Slow-loading websites cost online businesses <span class="contrast">US$ 2.6 billion in 2020</span></p>
            <p>Website visitors only need half a second to form an opinion of the website they are visiting.</p>
        </section>

        <section class="txt-img">
            <div 
            data-aos="fade-right"
            data-aos-offset="200"
            data-aos-delay="50"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="false"
            data-aos-anchor-placement="top-bottom">
                <img src="https://images.pexels.com/photos/7374/startup-photos.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
            </div>
            <div 
            data-aos="fade-left"
            data-aos-offset="200"
            data-aos-delay="50"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="false"
            data-aos-anchor-placement="top-bottom">
                <img src="https://images.pexels.com/photos/3184287/pexels-photo-3184287.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
            </div>
        </section>

        <section id="light-g" class="align mid">
            <h3>My Preferred Development Style Is Agile</h3>
            <p>
                Agile is an iterative approach to project management and 
                software development that helps teams or individuals deliver 
                value to their customers faster and with fewer headaches. 
                Instead of betting everything on a "big bang" launch, an 
                agile team delivers work in small, but consumable, increments.
            </p>
        </section>

        <section class="txt-img reverse">
            <div 
            data-aos="fade-left"
            data-aos-offset="200"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="false"
            data-aos-anchor-placement="top-bottom">
                <img src="https://images.pexels.com/photos/325229/pexels-photo-325229.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
            </div>
            <div id="img-txt onWhite">
                <h3>Things You Should Know</h3>

                <ul>
                    <li>
                        <span class="contrast">53%</span> of mobile website visits are abandoned if a 
                        mobile site takes longer than three seconds to load. 
                        For every one second delay in site load time, 
                        conversions fall by <span class="contrast">12%</span> (Google, 2018)
                    </li>
                    <li>
                        <span class="contrast">84%</span> of website users would abandon a purchase 
                        if their data were sent over an insecure connection.
                    </li>
                    <li>                    
                        <span class="contrast">87%</span> of the world population uses mobile devices 
                        <a href="https://www.marketingdive.com/">(Marketing Dive 2020)</a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="bg-second invert align">
            <h3>Small business fact</h3>
            <p>
                In 2020, <span class="contrast">51%</span> of small business owners increased 
                the number of online interactions they had with clients. <a href="https://www.oberlo.com/">Oberlo</a>
            </p>
            <p>The web is growing and more businesses are moving online</p>
            <a routerLink="/services">
                <button
                class="slide slide-both"
                data-aos="fade-right"
                data-aos-offset="200"
                data-aos-delay="50"
                data-aos-duration="1000"
                data-aos-easing="ease-in-out"
                data-aos-mirror="true"
                data-aos-once="false"
                data-aos-anchor-placement="top-bottom"
                (click)="test()">
                    Build My Website
                </button>
            </a>
        </section>
    </div>
</div>