section {
    padding: 100px 1em;

    .project {
        display: flex;
        padding: 100px 0;
        
        &:not(:last-of-type) {
            border-bottom: 1px solid rgb(228, 228, 228);
        }
        
        .images {
            max-width: 600px;

            .selected-lg {
                width: 600px;
                height: 400px;
            }

            .select-image {
                display: flex;
                flex-wrap: wrap;
                margin-top: 5px;

                img {
                    width: 60px;
                    height: 40px;
                    cursor: pointer;
                    
                    &:not(:last-of-type) {
                        margin-right: 5px;
                    }
                }

                img.selected {
                    opacity: .5;
                }
            }
        }

        .body {
            padding: 0 2em;

            a {
                text-decoration: none;
                h2 {
                    margin: 0;
                    font-size: 3rem;
                }
            }

            .href {
                border: 1px solid #333;
                padding: 6px 18px;
                margin-top: 20px;
                display: block;
                width: 160px;
                text-align: center;
                transition: all 200ms linear;

                &:hover {
                    background-color: var(--bgcolor);
                    color: #fff !important;
                }
            }
        }
    }
}

@media only screen and(max-width: 1100px) {
    section {    
        .project {
            flex-direction: column;

            .images {
                margin: 0 auto;

                .selected-lg {
                    width: 100%;
                }
            }

            .body {
                margin: 0 auto;
                max-width: 600px;
                padding: 2em 1em;

                a {
                    h2 {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}