<section class="container">
    <div class="project" *ngFor="let project of projects">
        <div class="images">
            <img class="selected-lg" [src]="project.images[project.selectedImg]" alt="Selected image">
            <div class="select-image">
                <img 
                *ngFor="let img of project.images; let i = index" 
                [src]="img" alt="An image" 
                (click)="project.selectedImg = i" 
                [ngClass]="{ 'selected': i === project.selectedImg }">
            </div>
        </div>
        <div class="body">
            <a [href]="project.repo">
                <h2>{{ project.title }}</h2>   
            </a>
            <p>{{ project.description }}</p>

            <a [href]="project.repo" class="href" [style.borderColor]="themeColor" [style.color]="themeColor" [style.--bgcolor]="themeColor">
                View Project
            </a>
        </div>
    </div>
</section>

