<section>
    <div class="grid">
        <div class="grid-item" *ngFor="let project of projects">
            <div class="text">
                <a [href]="project.repo">
                    <h2>{{project.title}}</h2>   
                </a>
                <p>{{project.description}}</p>
            </div>

            <img [src]="project.images[project.selectedImg]" alt="">

            <div class="controls">
                <button [disabled]="project.selectedImg === 0" (click)="project.selectedImg = project.selectedImg - 1">
                    <i class="fas fa-chevron-left"></i>
                </button>
                <button [disabled]="project.selectedImg === project.images.length - 1" (click)="project.selectedImg = project.selectedImg + 1">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
</section>

