section {
    padding: 2em 0;
    position: relative;

    .container {
        .product {
            display: flex;
            padding: 100px 0;
            
            &:not(:last-of-type) {
                border-bottom: 1px solid rgb(233, 233, 233);
            }

            .images {
                .image-picker {
                    display: flex;

                    img {       
                        width: 70px;
                        height: 70px;

                        &:not(:last-of-type) {
                            margin-right: 4px;
                        }
                    }

                    img.selected {
                        opacity: .6;
                    }
                }
            }

            .body {
                padding: 0 100px;

                h2 {
                    font-size: 3rem;
                }

                button {
                    padding: 1em;
                    border: none;
                    color: #fff;
                    outline: none;
                    cursor: pointer;
                    min-width: 140px;
                    margin-top: 50px;
                    transition: all 200ms linear;
                    
                    &:hover {
                        transform: scale(.9);
                    }
                }
            }
        }
    }

    a {
        margin: 100px 0;
        display: flex;
        justify-content: center;
    }
}

@media only screen and(max-width: 1200px) {
    section {
        .container {            
            div {
                margin: 20px;
            }
        }
    }
}

@media only screen and(max-width: 768px) {
    section {
        .container {
            .product {
                flex-direction: column;

                .images {
                    .image-picker {
                        margin: 0;
                    }
                }

                .body {
                    padding: 0;

                    h2 {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}