section {
    padding: 2em 0;
    position: relative;

    .container {
        .product {
            display: flex;
            padding: 100px 0;
            
            &:not(:last-of-type) {
                border-bottom: 1px solid rgb(233, 233, 233);
            }

            .images {
                .image-picker {
                    display: flex;

                    img {       
                        width: 70px;
                        height: 70px;

                        &:not(:last-of-type) {
                            margin-right: 4px;
                        }
                    }

                    img.selected {
                        opacity: .6;
                    }
                }
            }

            .body {
                padding: 0 100px;

                h2 {
                    font-size: 3rem;
                }

                button {
                    padding: 1em;
                    border: none;
                    color: #fff;
                    outline: none;
                    cursor: pointer;
                    min-width: 140px;
                    margin-top: 50px;
                    transition: all 200ms linear;
                    
                    &:hover {
                        transform: scale(.9);
                    }
                }
            }
        }
    }

    a {
        margin: 100px 0;
        display: flex;
        justify-content: center;
    }
}

.modal.open {
    background-color: rgba(51, 51, 51, 0.575);
    pointer-events: unset;

    .modal-content {
        opacity: 1;
    }
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0);
    pointer-events: none;
    z-index: 8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease-in;

    .modal-content {
        width: 75%;
        height: 75%;
        transition: inherit;
        opacity: 0;
        padding: 2em;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .fa-times {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 2rem;
            color: rgb(180, 180, 180);
            margin: 40px 40px 0 0;
            cursor: pointer;

            &:hover {
                color: rgb(138, 138, 138);
            }
        }

        .modal-inner {
            width: 40%;

            header {
                h3 {
                    margin: 0;
                    font-size: 3rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    span {
                        font-size: 1rem;
                    }
                }
            }
    
            section {
                padding: 0;

                .images {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 50px 0;
    
                    img {
                        width: 125px;
                        height: 125px;
                    }
                }
    
                p {
                    margin: 50px 0;
                }
                
                form {
                    margin: 20px 0;

                    .form-group {
                        display: flex;
                        flex-direction: column;
                        padding: .77em 0;
                        
                        &:focus-within {
                            label {
                                color: var(--focuscolor);
                            }
                        }

                        input, textarea {
                            border: 1px solid rgb(160, 160, 160);
                            outline: none;
                            font-size: 18px;
                            padding: .5em;
                            border-radius: 5px;

                            &:focus {
                                border-color: var(--focuscolor);
                            }
                        }

                        textarea {
                            overflow: auto;
                            height: 250px;
                            resize: none;
                        }

                        label {
                            display: block;
                            margin-bottom: 8px;
                        }
                    }
                }

                .modal-actions {
                    display: flex;
                    justify-content: space-between;

                    button {
                        padding: 1em;
                        border: none;
                        color: #fff;
                        cursor: pointer;
                        transition: all 300ms ease-in;
        
                        &:first-of-type {
                            margin-right: 10px;
                        }
    
                        &:hover {
                            transform: scale(.9);
                        }
                    }
                }
            }
        }
    }
}

@media only screen and(max-width: 1200px) {
    section {
        .container {            
            div {
                margin: 20px;
            }
        }
    }
}

@media only screen and(max-width: 768px) {
    section {
        .container {
            .product {
                flex-direction: column;

                .images {
                    .image-picker {
                        margin: 0;
                    }
                }

                .body {
                    padding: 0;

                    h2 {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}