.price {
    font-weight: 800;
    display: none;
}

section {
    padding: 2em 0;
    position: relative;

    .wrapper {
        .product {
            display: flex;
            padding: 100px 0;
            
            &:not(:last-of-type) {
                border-bottom: 1px solid rgb(233, 233, 233);
            }

            .images {
                .image-picker {
                    display: flex;

                    img {       
                        width: 70px;
                        height: 70px;

                        &:not(:last-of-type) {
                            margin-right: 4px;
                        }
                    }

                    img.selected {
                        opacity: .6;
                    }
                }
            }

            .body {
                padding: 0 100px;

                h2 {
                    font-size: 3rem;
                }

                p.price {
                    margin: 50px 0;
                }

                button {
                    padding: 1em;
                    border: none;
                    color: #fff;
                    outline: none;
                    cursor: pointer;
                    min-width: 140px;
                    transition: all 200ms linear;
                    
                    &:hover {
                        transform: scale(.9);
                    }
                }
            }
        }
    }

    a {
        margin: 100px 0;
        display: flex;
        justify-content: center;
    }
}

.modal.open {
    background-color: rgba(51, 51, 51, 0.575);
    pointer-events: unset;

    .modal-content {
        opacity: 1;
    }
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0);
    pointer-events: none;
    z-index: 8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease-in;

    .modal-content {
        width: 75%;
        height: 85%;
        transition: inherit;
        opacity: 0;
        padding: 2em;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        
        .fa-times {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 2rem;
            color: rgb(180, 180, 180);
            margin: 40px 40px 0 0;
            cursor: pointer;

            &:hover {
                color: rgb(138, 138, 138);
            }
        }

        .modal-inner {
            width: 50%;

            header {
                h3 {
                    margin: 0;
                    font-size: 3rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    span {
                        font-size: 1rem;
                        font-weight: lighter;
                    }
                }
            }
    
            section {
                padding: 0;

                .alert.show {
                    opacity: 1;
                    transform: scale(1);
                    margin: 25px 0;
                    font-size: 1.42rem;
                }

                .alert {
                    margin: 0;
                    opacity: 0;
                    transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
                    transform: scale(.8);
                    font-size: 0;
                }

                .alert.error {
                    color: #ff3636;
                }
            
                .alert.success {
                    color: rgb(25, 146, 25);
                }
    
                .images {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 50px 0;
    
                    img {
                        width: 125px;
                        height: 125px;
                    }
                }
    
                p {
                    margin: 50px 0;
                }
                

                .modal-actions {
                    width: 100%;

                    form {
                        display: flex;
                        justify-content: space-between;
                        width: inherit;

                        input {
                            flex-grow: 1;
                            margin-right: 10px;
                            padding: 10px;
                            outline: none;
                            border: 1px solid rgb(216, 216, 216);
                        }
    
                        button {
                            padding: 1em;
                            border: none;
                            color: #fff;
                            cursor: pointer;
                            transition: all 300ms ease-in;
    
                            &:first-of-type {
                                margin-right: 10px;
                            }
        
                            &:hover {
                                transform: scale(.9);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and(max-width: 1200px) {
    .modal {
        .modal-content {
            .modal-inner {
                width: 75%;
            }
        }
    }

    section {
        .container {            
            div {
                margin: 20px;
            }
        }
    }
}

@media only screen and(max-width: 768px) {

    .modal {
        .modal-content {
            width: 100%;
            height: 100%;

            .modal-inner {
                width: 100%;

                .modal-actions {
                    flex-direction: column;

                    input {
                        margin: 0 0 10px 0;
                        margin-right: 0 !important;
                    }

                    button {
                        width: 100%;
                    }
                }
            }
        }
    }

    section {
        .wrapper {
            .product {
                flex-direction: column;

                .images {
                    .image-picker {
                        margin: 0;
                    }
                }

                .body {
                    padding: 0;

                    h2 {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}