<section class="container">
    <div class="wrapper">
        <div class="product" *ngFor="let product of products; let i = index">
            <div class="images">
                <img [src]="product.images[product.selected]">
                <div class="image-picker">
                    <img 
                    *ngFor="let img of product.images; let j = index" 
                    [src]="img" 
                    (click)="product.selected = j" 
                    [ngClass]="{ 'selected': j === product.selected }">
                </div>
            </div>
            
            <div class="body">
                <h2>{{ product.label }}</h2>
                <p>{{ product.description }}</p>
                <p class="price">{{ product.price }}SEK</p>
                <button [style.backgroundColor]="themeColor" (click)="openModal(product)">Place Order</button>
            </div>
        </div>
    </div>

    <a routerLink="/contact">I have a question</a>
</section>

<div class="modal" (click)="closeModal($event)" [ngClass]="{ 'open': modalOpen }">
    <div class="modal-content" (click)="$event.stopPropagation()" *ngIf="modalData.product">
        <i class="fas fa-times" (click)="modalOpen = false"></i>
        
        <div class="modal-inner">
            <header>
                <h3>{{ modalData.product.label }}</h3>
            </header>
            <section>
                <p>{{ modalData.product.description }}</p>
                <p class="price">{{ modalData.product.price }}SEK</p>
                <div class="images">
                    <img *ngFor="let img of modalData.product.images" [src]="img">
                </div>
                
                <div class="modal-actions">
                    <form>
                        <input type="email" name="email" placeholder="Email" [(ngModel)]="email" (keyup.enter)="submit()">
                        <button [style.backgroundColor]="themeColor" (click)="submit()">Place Order</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>